$lite-green: #4da525;
$green: #459421;


body{
  background-color: #f1f1f1;
}

input{

  &[type=text]{
    border: 0;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding: 10px 15px;
    border-radius: 2px;

    &.valid{
      box-shadow: 0 1px 0 0 $green, 0 0 0 1px $lite-green;
      color: $green;

      &+label:first-of-type::after{
        margin-left: -25px;
        content: "\2714";
        color: $green;
        width: 16px;
        height: 16px;
      }
    }
  }
}