.root{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.card{
  display: flex;
  flex-flow: row nowrap;
  background-color: #98c9c7;
  padding: 10px;
  border-radius: 4px;
  margin-left: 20px;
  overflow: hidden;
  align-items: flex-end;
  min-width: 280px;

  &-left{
    display: flex;
    flex-flow: column wrap;
  }

  &-right img{
    height: 250px;
    margin-left: -60px;
    margin-right: -85px;
    margin-bottom: -65px;
  }

  .title{
    background-color: #d4522a;
    padding: 10px;
    margin: 10px 0;
    margin-left: -20px;
    width: 350px;
    

    span{
      margin-left: 14px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
    }
  }

  form{
    margin: 10px 14px;
    width: 250px;

    .row{
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;

      label{
        width: 30%;
        margin: 2%;
      }
    }

    label{
      display: flex;
      flex-flow: column nowrap;

      span{
        color: #5a706f;
        font-size: 10px;
      }

      input{
        background-color: #a2cecc;
        padding: 7px 10px;
        border: 0;
        border-bottom: 1px solid #729493;
        margin: 5px 0;

        &::placeholder{
          color: #5c7271;
        }

        &::selection{
          background-color: #e4e422;
        }
      }
    }
  }  
}
