body{
    margin: 0;
    height: 600px;
    width: 800px;
    background: url('https://upload.wikimedia.org/wikipedia/ru/1/1d/%D0%91%D0%B5%D0%B7%D0%BC%D1%8F%D1%82%D0%B5%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D1%8C.png');
    background-repeat: no-repeat;
}
